@import "tailwindcss";

:root {
  --primary-contrast: #0b151e;
  --secondary-contrast: #0b151e99;
  --background-gradient: linear-gradient(90deg, #ffca28, #f57c00);
  --background: #ffca28;
  --muted: rgba(194, 137, 3, 0.3);
  --surface: #e99e1d;
  --border: transparent;
  --top-gradient: #ffffff33;
  --bottom-gradient-top: #ffffff75;
  --bottom-gradient-bottom: transparent;
  --button: #0b151e;
}

.dark-theme {
  --primary-contrast: #fff;
  --secondary-contrast: #ffffff99;
  --background-gradient: linear-gradient(90deg, #0b151e, #0b151e);
  --background: #0b151e;
  --muted: rgba(21, 39, 60, 0.6);
  --surface: #112031;
  --border: #ffffff20;
  --top-gradient: #1b72e833;
  --bottom-gradient-top: #1b72e8;
  --bottom-gradient-bottom: #1b72e850;
  --button: linear-gradient(90deg, #ffca28, #f57c00);
}

html {
  background: var(--background);
}

body {
  color: var(--primary-contrast);
  background: var(--background-gradient);
  min-height: 100dvh;
}